main {
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;

  .content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    .topic-image {
      width: 100%;
      max-width: 600px;
    }

    .topic-summary {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 45px;
      @media screen and (max-width: 999px) {
        background-color: white;
        padding: 0px;
      }
      background-color: #F8F8F8;
      padding: 20px;
      gap: 20px;

      .topic-slider {
        @media screen and (max-width: 999px) {
          display: none;
        }
      }
    }

    .topic-list {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 40px;
    }
  }
}

.topic-container {
  display: flex;

  flex-direction: row;
  @media screen and (max-width: 999px) {
    flex-direction: column;
  }

  img {
    max-width: calc(100% - 440px);
    height: auto;
    object-fit: cover;
    border-radius: 45px 0 0 45px;

    @media screen and (max-width: 999px) {
      max-width: 100%;
      border-radius: 45px 45px 0 0;
    }
  }

  .topic-info {
    width: 440px;
    @media screen and (max-width: 999px) {
      width: 100%;
      border-radius: 0 0 45px 45px;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    border: 3px solid #eaeaea;
    border-radius: 0 45px 45px 0;
    padding: 40px;

    .icon {
      width: 100%;
      display: flex;
      @media screen and (max-width: 999px) {
        display: none;
      }
      flex-direction: row;
      align-items: center;
      gap: 5px;

      img {
        max-width: 40px;
      }

      span {
        font-weight: 700;
        font-size: 22px;
        line-height: 160%;
        letter-spacing: 0.08em;
      }
    }

    p.title {
      font-weight: 700;
      font-size: 26px;
      line-height: 160%;
      letter-spacing: 0.08em;
      margin-bottom: 15px;
    }

    p.desc {
      font-weight: 500;
      font-size: 16px;
      line-height: 160%;
      letter-spacing: 0.08em;
      margin-bottom: 15px;
    }

    .bottom {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;

      p {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.05em;
        color: #A3A3A3;
      }
    }
  }
}
