.cta-container {
  --true: initial;
  --default-editor: var(--true);
  width: 1100px;// var(--default-editor, var(--block-width));
  margin-left: var(--default-editor, auto);
  margin-right: var(--default-editor, auto);
  background-color: #fff9ec !important;
  border-radius: 30px !important;
}

.cta {
  --stk-block-background-padding: 24px 24px;
  padding: var(--stk-block-background-padding);
}

.cta-content {
  max-width: 580px !important;
  min-width: auto !important;
  padding-top: 30px !important;
  padding-right: 40px !important;
  padding-bottom: 30px !important;
  padding-left: 40px !important;
  --stk-block-margin-bottom: 24px;

  h3, p {
    margin-bottom: var(--stk-block-margin-bottom);
  }

  h3 {
    font-size: 28px !important;
    font-family: SweiMarkerSansCJKtc-Regular,Sans-serif !important;
  }

  p {
    font-size: 16px !important;
  }

  .action-container {
    display: flex;
  }
}
