.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  .section {
    max-width: min(var(--normal-container-max-width), 100%);
    display: flex;
    flex-direction: column;
    align-items: center;

    .section-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 48px;
      width: 100%;
      flex-direction: row;
      padding-top: 40px;

      .image-left {
        width: 360px;
      }

      .image-title {
        display: flex;
        height: 90px;
        align-items: center;
        justify-content: center;
        margin-top: 48px;
      }

      a {
        padding: 9px 20px 11px;
        font-size: 20px;
        margin-top: 28px;
      }
    }

    .icon-rpjr-icon-arrow-right::before {
      content: "\e900";
    }
  }

  .make-friend {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fff9ec !important;

    .content {
      max-width: 900px;
      background-color: transparent !important;
      background-image: url(/images/reporter_pic.svg) !important;
      background-position: bottom right !important;
      background-repeat: no-repeat !important;
      background-size: 327px !important;
      padding-top: 30px !important;
      padding-bottom: 40px !important;
      padding-right: 30px !important;
      padding-left: 0px !important;

      h3 {
        font-size: 32px !important;
        font-family: SweiMarkerSansCJKtc-Regular,Sans-serif !important;
      }
    }
  }
}
