main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  .us {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    p {
      color: var(--paletteColor4, #232323);
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.9px;
      line-height: 36px;
    }
  }

  span.title {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1.08px;
  }

  .tell-you {
    max-width: 840px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

    .pics {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      gap: 40px;
    }
  }

  .news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

    .pics {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 40px;
    }

    img {
      width: 340px;
    }
  }

  .subscribe {
    max-width: 1000px; // TODO: replace 1000px with var
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 40px 30px 38px 40px;
    background-color: var(--paletteColor6);
    border-radius: 30px;
    padding: 40px 30px 38px 40px;
    background-image: url(/images/about_CTA_subscribe.svg);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 340px;

    h3 {
      color: white;
      font-family: SweiMarkerSansCJKtc-Regular,noto sans tc, Sans-Serif, serif;
      font-weight: 700;
      font-size: 34px;
      line-height: 160%;
      letter-spacing: .08em;
      margin-bottom: calc(var(--has-content-spacing, 1)*(0.3em + 10px));
    }

    p {
      max-width: 350px;
      font-size: 18px;
      padding-bottom: 40px;
      letter-spacing: .08em;
      line-height: 160%;
    }

    .btn-like {
      border-radius: 20px;
      background-color: white;
      width: fit-content;
      padding: 8px 18px;
    }
  }

  .contribute {
    max-width: 1000px; // TODO: replace 1000px with var
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 30px 38px 40px;
    background-color: var(--paletteColor1);
    border-radius: 30px;

    h3 {
      color: white;
      font-family: SweiMarkerSansCJKtc-Regular,noto sans tc, Sans-Serif, serif;
      font-weight: 700;
      font-size: 34px;
      line-height: 160%;
      letter-spacing: .08em;
      margin-bottom: calc(var(--has-content-spacing, 1)*(0.3em + 10px));
    }

    p {
      max-width: 350px;
      font-size: 18px;
      padding-bottom: 40px;
      letter-spacing: .08em;
      line-height: 160%;
    }

    .btn-like {
      border-radius: 20px;
      background-color: white;
      width: fit-content;
      padding: 8px 18px;
    }
  }

  .mail {
    max-width: 1000px; // TODO: replace 1000px with var
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 40px 30px 38px 40px;
    background-color: var(--paletteColor5);
    border-radius: 30px;
    padding: 40px 30px 38px 40px;
    background-image: url(/images/about_CTA_mail.svg);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 340px;

    h3 {
      color: white;
      font-family: SweiMarkerSansCJKtc-Regular,noto sans tc, Sans-Serif, serif;
      font-weight: 700;
      font-size: 34px;
      line-height: 160%;
      letter-spacing: .08em;
      margin-bottom: calc(var(--has-content-spacing, 1)*(0.3em + 10px));
    }

    p {
      max-width: 350px;
      font-size: 18px;
      padding-bottom: 40px;
      letter-spacing: .08em;
      line-height: 160%;
    }

    .btn-like {
      border-radius: 20px;
      background-color: white;
      width: fit-content;
      padding: 8px 18px;
    }
  }

  .main-site {
    max-width: 1000px; // TODO: replace 1000px with var
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 30px 38px 40px;
    background-color: var(--paletteColor6);
    border-radius: 30px;
    padding: 40px 30px 38px 40px;

    h3 {
      color: white;
      font-family: SweiMarkerSansCJKtc-Regular,noto sans tc, Sans-Serif, serif;
      font-weight: 700;
      font-size: 34px;
      line-height: 160%;
      letter-spacing: .08em;
      margin-bottom: calc(var(--has-content-spacing, 1)*(0.3em + 10px));
    }

    p {
      max-width: 350px;
      font-size: 18px;
      padding-bottom: 40px;
      letter-spacing: .08em;
      line-height: 160%;
    }

    .btns {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

    .btn-like {
      border-radius: 20px;
      background-color: white;
      width: fit-content;
      padding: 8px 18px;
    }
    }
  }
}

.tell-you-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 200px;
  }

  p {
    font-size: 22px;
    font-weight: bold;
    color: var(--paletteColor4,#232323);
    letter-spacing: 1.08px;
  }
}
