// TODO: move .container to their appliers
.container {
  display: flex;
  flex-direction: column;
  margin-top: var(--content-margin-top);
  max-width: var(--normal-container-max-width);
}

.main-content {
  display: flex;
  flex-grow: 1;
}
