@media screen and (min-width: 768px) {
    .sm\:block {
        display: block !important;
    }

    .sm\:inline-block {
        display: inline-block !important;
    }

    .sm\:hidden {
        display: none !important;
    }
}

@media screen and (min-width: 992px) {
    .md\:block {
        display: block !important;
    }

    .md\:inline-block {
        display: inline-block !important;
    }

    .md\:hidden {
        display: none !important;
    }
}

.hidden {
    display: none;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}


.mb-7 {
    margin-bottom: 28px;
}
.mt-15 {
    margin-top: 60px;
}
.mt-8 {
    margin-top: 32px;
}
.mb-8 {
    margin-bottom: 32px;
}
.mt-18 {
    margin-top: 92px;
}
.mb-18 {
    margin-bottom: 92px;
}


.text-color-1 {
    color: var(--paletteColor1);
}

.text-color-2 {
    color: var(--paletteColor2);
}

.text-color-3 {
    color: var(--paletteColor3);
}

.text-color-4 {
    color: var(--paletteColor4);
}

.text-color-5 {
    color: var(--paletteColor5);
}

.text-color-6 {
    color: var(--paletteColor6);
}

.text-color-1::before {
    color: var(--paletteColor1) !important;
}

.text-color-2::before {
    color: var(--paletteColor2) !important;
}

.text-color-3::before {
    color: var(--paletteColor3) !important;
}

.text-color-4::before {
    color: var(--paletteColor4) !important;
}

.text-color-5::before {
    color: var(--paletteColor5) !important;
}

.text-color-6::before {
    color: var(--paletteColor6) !important;
}

.text-color-theme {
    color: var(--theme-color) !important;
}

.text-color-theme::before {
    color: var(--theme-color) !important;
}
