.post .post-intro {
  max-width: 760px !important;
  margin-right: auto;
  margin-left: auto;

  p {
    margin-bottom: var(--content-spacing);
  }
}

.author-list {
  --color: #575757;
  text-align: center;
  line-height: 150%;

  span {
    color: var(--color);
    font-size: 14px;
  }

  a {
    color: var(--color);
    text-decoration: underline;
  }
}
