.hero-image {
  max-width: 1000px !important;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  padding-bottom: 50px;

  .image-container {
    position: relative;
    width: 100%;
    display: inline-flex;
    overflow: hidden;
  }

  img {
    width: inherit;
    height: auto;
    max-width: 100%;
    object-fit: contain;
  }

  figcaption {
    padding: 10px 0 0 0;
    margin-top: 5px;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: var(--paletteColor3);
  }
}
