main {
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  gap: 40px;

  .title-image {
    width: 100%;
    max-width: 600px;
  }
}
