.hero-image {
  max-width: 1000px!important;
  margin-right: auto;
  margin-left: max(90px,9vw);

  .image-container {
    position: relative;
    width: 100%;
    display: inline-flex;
    overflow: hidden;
  }

  img {
    aspect-ratio: 16/9;
    height: auto;
    // max-height: none;
    max-width: 100%;
    max-height: 100%;
  }

  figcaption {
    padding: 0 calc(75px + 10vw) 0 10vw;
    --fontSize: 14px;
    text-align: center;
    margin-top: 5px;
  }
}
