  .post-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .cards {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;

      .post {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }

      .prev-btn {
        --theme-color: #F8C341; // TODO: theme color
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: absolute;
        left: 0;
      }

      .next-btn {
        --theme-color: #F8C341; // TODO: theme color
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: absolute;
        right: 0;
      }
    }

    img {
      height: auto;
      max-width: 100%;
      vertical-align: middle;
    }

    .bullets {
      button {
        cursor: pointer;
        margin: 50px 10px 0;
        width: 13px;
        height: 13px;
        background-color: #eaeaea;
        border-radius: 13px;
        appearance: none;
        border: none;
      }

      button.active {
        background-color: var(--paletteColor6);
      }
    }
  }
