  .top {
    background-image: url(/assets/images/Home-CTA-subscribe-mobile.svg);
    background-size: 150px;
  }

  .mail {
    flex: 1;
    background-size: 150px;
    background-image: url(/assets/images/Home-CTA-mail.svg);
  }

  .contribute {
    flex: 1;
    background-image: url(/assets/images/Home-CTA-contribute.svg);
    background-size: 150px;
  }

@media screen and (min-width: 1024px) {
  .top {
    background-image: url(/assets/images/Home-CTA-subscribe.svg);
    background-size: 340px;
  }

  .mail {
    background-image: url(/assets/images/Home-CTA-mail.svg);
  }

  .contribute {
    background-Image: url(/assets/images/Home-CTA-contribute.svg);
    flex-grow: 2;
    background-size: 300px;
  }
}

.top:hover {
  background-image: url(/assets/images/Home-CTA-subscribe-hover.svg);
}

.mail:hover {
  background-image: url(/assets/images/Home-CTA-mail-hover.svg);
}

.contribute:hover {
  background-image: url(/assets/images/Home-CTA-contribute-hover.svg);
}
