.main-slider {
  --theme-color: #F8C341; // TODO: theme color
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: var(--normal-container-max-width);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding-top: 80px;
  background-image: url(/images/navbar_pic2.svg);
  background-repeat: no-repeat;
  background-position: bottom right 15%;
  background-size: 317px;

  .posts {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      background: white;
    }

    .swiper-pagination-bullets {
      height: 150px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
      position: relative;
      margin-bottom: 100px;

      .swiper-pagination-bullet {
        width: 13px;
        height: 13px;
        margin: 50px 10px 0;
      }

      .swiper-pagination-bullet-active {
        background-color: var(--theme-color);
      }
    }

    .post-body {
      width: 373px;
      max-width: 400px;
      margin-left: 22px;
      margin-right: 22px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      cursor: pointer;

      img {
        height: auto;
        max-width: 100%;
        vertical-align: middle;
        border-radius: 20px;
      }

      .post-title {
        font-family: SweiMarkerSansCJKtc-Regular,noto sans tc,Sans-Serif,serif;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        padding: 30px 0 0;
        max-width: 500px;
        line-height: 160%;
        letter-spacing: .08em;
        color: #232323;
        text-align: center;
      }
    }

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      position: absolute;
      top: 25%;
      --btn-edge: 400px;
      z-index: 900;
    }

    button.prev-btn {
      left: var(--btn-edge);
    }

    button.next-btn {
      right: var(--btn-edge);
    }
  }
}
