.main-header-mobile {
  width: 100vw;
}

.main-header {
  @media screen and (max-width: 999px) {
    display: none;
  }

  --container-width-base: calc(90vw - var(--frame-size, 0px) * 2);
  --container-width: min(100%, var(--container-width-base));
  max-width: var(--normal-container-max-width);
  width: var(--container-width);
  display: grid;
  grid-template-columns: 1fr var(--middle-column-width, auto) 1fr;
  padding: var(--padding, 0 35px);
  margin: var(--content-margin-top) auto 62px;
  align-items: flex-end;

  .left {
    img {
      height: auto;
      max-width: 100%;
      vertical-align: middle;
    }
  }

  .center {
    height: 257px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        margin-bottom: 40px;
        max-width: 345px;
      }
    }

    ul {
      display: flex;
      flex-direction: row;
      width: fit-content;
      height: fit-content;
      border: 1.5px solid #eaeaea;
      border-radius: 30px;
      padding: 4px 30px 5px;
      margin-top: 20px;
      list-style-type: none;
      font-size: 18px;

      li {
        --menu-item-padding: 0 calc(var(--menu-items-spacing, 25px) / 2);
        padding: var(--menu-item-padding, 0px);
        color: #232323;
      }
    }
  }

  .right {
    height: 215px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    .content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      form {
        --max-width: 250px;
        width: 100%;
        height: 40px;
        max-width: var(--max-width, 250px);
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;

        input {
          --form-text-initial-color: #A3A3A3;
          width: 100%;
          height: 100%;
          border: none;
          border-radius: 30px;
          color: var(--form-text-initial-color, var(--color));
          background-color: rgb(245, 245, 245);
          font-size: var(--form-font-size, 16px);
          padding-left: 12px;
          padding-right: 40px;

          &:focus {
            outline: none;
          }
        }

        button {
          position: absolute;
          border: none;
          background-color: transparent;
          right: 10px;
          cursor: pointer;
        }
      }

      .btn-group {
        height: 36px;
        display: flex;
        flex-direction: row;
        align-items: center;

        a {
          font-size: 18px;
        }
      }
    }
  }
}
