.post-selection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff9ec !important;

  .title-img {
    max-width: 200px;
    width: 100%;
    margin: 30px auto;
  }

  .featured-post-container {
    max-width: 1280px;
    display: flex;

    flex-direction: row;
    @media screen and (max-width: 999px) {
      flex-direction: column;
    }

    padding: 24px;
    gap: 40px;

    .lastest-post {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 8;
      flex-shrink: 1;
      flex-basis: 25%;
      gap: 20px;

      .more {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: 30px;
        background-color: white;
        padding: 10px 20px 12px 14px;

        span {
          display: flex;
          align-items: center;
          gap: 10px;
          font-weight: 700;
          font-size: 22px;
          line-height: 160%;
          letter-spacing: .08em;
          color: #232323;
        }

        a {
          display: flex;
          align-items: center;
          font-weight: 500;
          font-size: 18px;
          line-height: 160%;
          letter-spacing: .08em;
          color: #232323;
          gap: 3px;

          .icon-rpjr-icon-arrow-right {
            color: var(--paletteColor6);
          }
        }
      }

      .latest-post-list {
        @media screen and (min-width: 1000px) {
          display: flex;
          flex-direction: column;
        }
        @media screen and (max-width: 999px) {
          display: grid;
          grid-template-columns: Repeat(2, 1fr);
        }
        @media screen and (max-width: 767px) {
          display: none;
        }
        border-radius: 30px;
        background-color: white;
        padding: 20px 30px;
        gap: 30px;
      }
    }

    .featured-post {
      display: flex;
      flex-direction: column;
      border-radius: 30px;
      flex-grow: 25;
      flex-shrink: 1;
      flex-basis: 75%;
      gap: 20px;

      .cards {
        display: flex;
        flex-direction: row;
      }
    }
  }
}

.post-brick {
  display: flex;
  flex-direction: column;

  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .category {
      font-weight: 500;
      font-size: 14px;
      line-height: 160%;
      letter-spacing: .2em;
      color: #a3a3a3;
      text-align: left;
    }

    .date {
      font-weight: 700;
      font-size: 14px;
      letter-spacing: .05em;
      color:var(--paletteColor6);
      text-align: right;
    }
  }

  .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: .08em;
    color: #232323;
    text-align: left;
  }

  &::after {
    content: '';
    width: 100%;
    height: 2px;
    background: #f5f5f5;
    margin-top: 15px;
  }
}
