@media screen and (min-width: 1000px) {
  .card-child-1, .card-child-2 {
    flex-basis: 49.75%;
  }
  .card-child-rest {
    flex-basis: 33%;
  }
}

@media screen and (max-width: 999px) {
  .card-child-1 {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
  }
  .card-child-2, .card-child-rest {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 767px) {
  .card-child-1, .card-child-2, .card-child-rest {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
  }
}

.post-brick:nth-child(n) {
  border-bottom: 2px solid #f5f5f5;
}

@media screen and (min-width: 1000px) {
  .post-brick:last-child {
    border-bottom: none;
  }
}

@media screen and (max-width: 999px) {
  .post-brick:nth-last-child(-n+2) {
    border-bottom: none;
  }
}
