.search-tags {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 35px;
  padding-right: 35px;
  margin-bottom: 60px;

  img {
    margin-bottom: 40px;
  }

  form {
    --max-width: 400px;
    width: 100%;
    height: 40px;
    max-width: var(--max-width, 250px);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    position: relative;

    input {
      width: 100%;
      height: 100%;
      border-radius: 30px;
      border-color: var(--theme-color);
      border-width: 2px;
      background-color: white;
      font-size: var(--form-font-size, 16px);
      padding-left: 12px;
      padding-right: 40px;
    }

    button {
      width: 15px;
      height: 15px;
      position: absolute;
      right: 10px;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }
}
