.section {
  max-width: min(var(--normal-container-max-width), 95%);
  display: flex;
  flex-direction: column;
  align-items: center;

  .section-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
    width: 95%;
    flex-direction: row;
    padding-top: 40px;

    .image-left {
      flex: 1;

      img {
        width: 360px;
      }
    }

    .image-title {
      flex: 1;

      img {
        display: flex;
        height: 90px;
        align-items: center;
        justify-content: center;
      }
    }

    .more{
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      a {
        padding: 9px 20px 11px;
        font-size: 20px;
      }
    }
  }
}
