.section {
  width: min(var(--normal-container-max-width), 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;

  .section-head {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
    padding-top: 40px;

    .image-left {
      @media screen and (max-width: 999px) {
        display: none;
      }

      flex: 1;

      img {
        max-width: 360px;
      }
    }

    .image-title {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: center;

      img {
        width: 100%;
        display: flex;
        height: 90px;
        align-items: center;
        justify-content: center;
      }
    }

    .more {
      @media screen and (max-width: 729px) {
        display: none;
      }

      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      a {
        padding: 9px 20px 11px;
        font-size: 20px;
      }
    }
  }

  .more-mobile {
    width: 90%;
    display: flex;
    @media screen and (min-width: 730px) {
      display: none;
    }
    padding: 10px;

    a {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px;
      font-size: 14px;
      border-radius: 15px;
      gap: 5px;
    }
  }
}
