main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;

  .content {
    max-width: var(--normal-container-max-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    .title-image  {
      width: 100%;
      max-width: 600px;
    }

    .navigation {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap : 10px;
    }
  }

  .post-list {
    max-width: var(--normal-container-max-width);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @media screen and (max-width: 999px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 767px) {
      grid-template-columns: 1fr;
    }
    gap: 30px;
  }
}
