.back-to-top {
  --back-top-side-offset: 25px;
  --back-top-bottom-offset: 50px;

  z-index: 900;
  right: calc(var(--frame-size, 0px) + var(--back-top-side-offset, 25px));  
  bottom: calc(var(--frame-size, 10px) + var(--back-top-bottom-offset, 25px));

  @media screen and (max-width: 999px) {
    --back-top-side-offset: 10px;
    --back-top-bottom-offset: 75px;
  }
}

.back-to-top.hidden {
  visibility: hidden;
}
