@media screen and (max-width: 767px) {
  .logo-mobile::before {
    content:"理解世界 參與未來";
    color: #232323;
    letter-spacing: .3em;
  }
}

.menu ul {
  display: flex;
}

.menu li {
  display: flex;
  align-items: center;
}

.menu a {
  --menu-items-spacing: 22px;
  --menu-item-padding: 0 calc(var(--menu-items-spacing, 25px) / 2);
  --fontWeight: 500;
  --textTransform: uppercase;
  --fontSize: 14px;
  --lineHeight: 1.56;
  --letterSpacing: 0.16em;
  --linkInitialColor: #232323;
  --linkHoverColor: var(--paletteColor4);

  padding: var(--menu-item-padding, 0px);
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
  font-weight: var(--fontWeight);
  font-style: var(--fontStyle, inherit);
  line-height: var(--lineHeight);
  letter-spacing: var(--letterSpacing);
  -webkit-text-decoration: var(--textDecoration);
  text-decoration: var(--textDecoration);
}

.search-icon svg {
  width: 30px;
  height: 30px;
  fill: #A3A3A3;
  transition: fill 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.search-icon svg:hover {
  fill: var(--paletteColor1);
}

.mobile-menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 138px;
  margin: 40px auto 0;
}

.mobile-menu li {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-menu a {
  --menu-item-padding: var(--items-vertical-spacing, 10px) 0;
  font-size: 20px;
  font-weight: 700;
  padding: var(--menu-item-padding, 0px);
}

.search-overlay svg {
  fill: white;
}

.search-overlay form {
  width: 100%;
  margin: auto;
  max-width: 800px;
  display: flex;
}

.search-overlay input {
  --form-text-initial-color: #A3A3A3;
  color: var(--form-text-initial-color, var(--color));
  flex-grow: 1;
  border: none;
  background: transparent;
  font-size: 35px;
}

.search-overlay input:focus {
  outline: none;
  border-bottom: 1px solid var(--paletteColor1);
}

.search-overlay button {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background: var(--paletteColor1);
}

.hamburger-overlay-mobile {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/images/navbar_pic.svg);
  background-repeat: no-repeat;
  background-position: bottom left 20%;
  background-size: 317px;
}

.hamburger-overlay-mobile form {
  --max-width: 70%;
  width: 100%;
  height: 50px;
  max-width: var(--max-width, 250px);
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hamburger-overlay-mobile input {
  --form-text-initial-color: #A3A3A3;
  color: var(--form-text-initial-color, var(--color));
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 30px;
  background-color: rgb(245, 245, 245);
  font-size: var(--form-font-size, 16px);
  padding-left: 12px;
  padding-right: 40px;
}

.hamburger-overlay-mobile button {
  position: absolute;
  right: 0;
  cursor: pointer;
  padding: 10px 5px;
}

@media screen and (max-width: 767px) {
  .hamburger-overlay-mobile {
    background-size: 200px;
  }

  .search-overlay input {
    font-size: 22px;
  }

  .search-overlay button {
    width: 40px;
    height: 40px;
  }
}
