.sticky-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;

  .header-container {
    display: flex;
    justify-content: space-between;
    height: 62px;
    width: var(--container-width);
    max-width: var(--normal-container-max-width);
    min-height: var(--shrink-height, var(--height));
    margin-left: auto;
    margin-right: auto;
    background-color: white;

    .left {
      display: flex;
      align-items: center;

      .site-branding {
        margin: 0 10px 0 0;
        .site-logo-container {
          max-height: 100%;
          img {
            width: 100%;
            height: 30px;
            object-fit: contain;
          }
        }
      }

      .cta {
        display: flex;
        align-items: center;
        margin: 0 10px;
      }
    }

    .right {
      @media screen and (max-width: 999px) {
        display: none;
      }

      flex-grow: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .cta {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: var(--margin, 0 10px);
      }

      .others {
        display: flex;
        flex-direction: row;
        align-items: center;

        .menu {
          display: flex;
  
          li {
            display: flex;
            align-items: center;
  
            a {
              --menu-items-spacing: 22px;
              --menu-item-padding: 0 calc(var(--menu-items-spacing, 25px) / 2);
              --fontWeight: 500;
              --textTransform: uppercase;
              --fontSize: 14px;
              --lineHeight: 1.56;
              --letterSpacing: 0.16em;
              --linkInitialColor: #232323;
              --linkHoverColor: var(--paletteColor4);
  
              padding: var(--menu-item-padding, 0px);
              font-family: var(--fontFamily);
              font-size: var(--fontSize);
              font-weight: var(--fontWeight);
              font-style: var(--fontStyle, inherit);
              line-height: var(--lineHeight);
              letter-spacing: var(--letterSpacing);
              text-transform: var(--textTransform);
              -webkit-text-decoration: var(--textDecoration);
              text-decoration: var(--textDecoration);
            }
          }
        }
  
        button {
          --icon-size: 30px;
          --icon-color: #A3A3A3;
          --icon-hover-color: var(--paletteColor1);
          --margin: 0 12px 0 10px !important;
  
          margin: var(--margin, 0 10px);
          border: none;
          background: none;
          cursor: pointer;
  
          span {
            display: none !important;
          }
  
          svg {
            width: var(--icon-size, 15px);
            height: var(--icon-size, 15px);
            fill: var(--icon-color, var(--color));
            transition: var(--icon-transition, fill 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955));
          }
  
          svg:hover {
            fill: var(--icon-hover-color);
          }
        }
  
        .about-us {
          --margin: 0 0 0 10px;
          display: flex;
          align-items: center;
          margin: var(--margin, 0 10px);
          height: 36px;
  
          a {
            padding: 0px 12px 0px;
            line-height: 36px;
            --buttonFontSize: 13px;
            --buttonFontWeight: 500;
            --fontFamily: 'Noto Sans TC', Sans-Serif;
            font-family: var(--buttonFontFamily, var(--fontFamily));
            font-size: var(--buttonFontSize);
            font-weight: var(--buttonFontWeight);
          }
        }

      }
    }

    .right-mobile {
      @media screen and (min-width: 1000px) {
        display: none;
      }

      .overlay-mobile {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        z-index: 999;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(/images/navbar_pic.svg);
        background-repeat: no-repeat;
        background-position: bottom left 20%;
        background-size: 317px;

        .control {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          padding: var(--panel-padding, 30px);
          padding-bottom: 0;
        }
  
        .content {
          flex-grow: 1;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: var(--panel-padding, 35px);

          .logo-mobile {
            --logo-max-height: 92px;
            height: var(--logo-shrink-height, var(--logo-max-height, 50px));

            img {
              width: auto;
              max-width: initial;
              object-fit: contain;
              height: inherit;
              vertical-align: initial;
            }
          }

          .btn-group {
            margin-top: 60px;
            margin-bottom: 40px;
          }

          .search-form {
            --max-width: 50%;
            width: 100%;
            max-width: var(--max-width, 250px);
            margin-top: 10px;
            margin-bottom: 10px;

            input {
              --form-text-initial-color: #A3A3A3;
              width: 100%;
              height: 100%;
              border: none;
              border-radius: 30px;
              color: var(--form-text-initial-color, var(--color));
              background-color: rgb(245, 245, 245);
              font-size: var(--form-font-size, 16px);
              padding-left: 12px;
              padding-right: 12px;
            }

            button {
              // position: absolute;
              top: 0;
              right: 0;
            }
          }
        }
      }

      display: flex;
      flex-direction: row;
      justify-content: center;

      button {
        border: none;
        background: transparent;
        width: 40px;
        cursor: pointer;
        padding: 6px 5px;
      }
    }
  }
}

.home-header {
  --container-width-base: calc(90vw - var(--frame-size, 0px) * 2);
  --container-width: min(100%, var(--container-width-base));
  max-width: var(--normal-container-max-width);
  width: var(--container-width);
  display: grid;
  grid-template-columns: 1fr var(--middle-column-width, auto) 1fr;
  padding: var(--padding, 0 35px);
  margin-left: auto;
  margin-right: auto;
  align-items: end;

  .left {
    img {
      height: auto;
      max-width: 100%;
      vertical-align: middle;
    }
  }

  .center {
    height: 257px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    img {
      margin-bottom: 40px;
      max-width: 345px;
    }

    ul {
      display: flex;
      flex-direction: row;
      width: fit-content;
      height: fit-content;
      border: 1.5px solid #eaeaea;
      border-radius: 30px;
      padding: 4px 30px 5px;
      margin-top: 20px;
      list-style-type: none;
      font-size: 18px;

      li {
        --menu-item-padding: 0 calc(var(--menu-items-spacing, 25px) / 2);
        padding: var(--menu-item-padding, 0px);
        color: #232323;
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
