.sticky-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;

  .header-container {
    display: flex;
    justify-content: space-between;
    height: 62px;
    width: var(--container-width);
    max-width: var(--normal-container-max-width);
    min-height: var(--shrink-height, var(--height));
    margin-left: auto;
    margin-right: auto;
    background-color: white;

    .search-overlay {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: white;
      z-index: 999;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      button {
        border: none;
        background: transparent;
        width: 40px;
        cursor: pointer;
        padding: 6px 5px;
      }

      .control {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: var(--panel-padding, 30px);
        padding-bottom: 0;
      }

      .content {
        flex-grow: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: var(--panel-padding, 35px);

        form {
          width: 100%;
          margin: auto;
          max-width: 800px;
          display: flex;

          input {
            flex-grow: 1;
            border: none;
            background: transparent;
            font-size: 35px;
            @media screen and (max-width: 767px) {
              font-size: 22px;
            }

            &:focus {
              outline: none;
              border-bottom: 1px solid var(--paletteColor1);
            }
          }

          button {
            width: 48px;
            height: 48px;
            @media screen and (max-width: 767px) {
              width: 40px;
              height: 40px;
            }
            border-radius: 100%;
            background: var(--paletteColor1);
            svg {
              fill: white;
            }
          }
        }
      }
    }

    .left {
      display: flex;
      align-items: center;

      .site-branding {
        margin: 0 10px 0 0;
        .site-logo-container {
          max-height: 100%;
          img {
            width: 100%;
            height: 30px;
            object-fit: contain;
          }
        }
      }

      .cta {
        display: flex;
        align-items: center;
        margin: 0 10px;
      }
    }

    .right {
      @media screen and (max-width: 999px) {
        display: none;
      }

      flex-grow: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .cta {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: var(--margin, 0 10px);
      }

      .others {
        display: flex;
        flex-direction: row;
        align-items: center;

        .menu {
          display: flex;
  
          li {
            display: flex;
            align-items: center;
  
            a {
              --menu-items-spacing: 22px;
              --menu-item-padding: 0 calc(var(--menu-items-spacing, 25px) / 2);
              --fontWeight: 500;
              --textTransform: uppercase;
              --fontSize: 14px;
              --lineHeight: 1.56;
              --letterSpacing: 0.16em;
              --linkInitialColor: #232323;
              --linkHoverColor: var(--paletteColor4);
  
              padding: var(--menu-item-padding, 0px);
              font-family: var(--fontFamily);
              font-size: var(--fontSize);
              font-weight: var(--fontWeight);
              font-style: var(--fontStyle, inherit);
              line-height: var(--lineHeight);
              letter-spacing: var(--letterSpacing);
              text-transform: var(--textTransform);
              -webkit-text-decoration: var(--textDecoration);
              text-decoration: var(--textDecoration);
            }
          }
        }
  
        button {
          --icon-size: 30px;
          --icon-color: #A3A3A3;
          --icon-hover-color: var(--paletteColor1);
          --margin: 0 12px 0 10px !important;
  
          margin: var(--margin, 0 10px);
          border: none;
          background: none;
          cursor: pointer;
  
          span {
            display: none !important;
          }
  
          svg {
            width: var(--icon-size, 15px);
            height: var(--icon-size, 15px);
            fill: var(--icon-color, var(--color));
            transition: var(--icon-transition, fill 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955));
          }
  
          svg:hover {
            fill: var(--icon-hover-color);
          }
        }
  
        .about-us {
          --margin: 0 0 0 10px;
          display: flex;
          align-items: center;
          margin: var(--margin, 0 10px);
          height: 36px;
  
          a {
            padding: 0px 12px 0px;
            line-height: 36px;
            --buttonFontSize: 13px;
            --buttonFontWeight: 500;
            --fontFamily: 'Noto Sans TC', Sans-Serif;
            font-family: var(--buttonFontFamily, var(--fontFamily));
            font-size: var(--buttonFontSize);
            font-weight: var(--buttonFontWeight);
          }
        }

      }
    }

    .right-mobile {
      @media screen and (min-width: 1000px) {
        display: none;
      }
      display: flex;
      flex-direction: row;
      justify-content: center;

      .hamburger-overlay-mobile {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        z-index: 999;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(/assets/images/navbar_pic.svg);
        background-repeat: no-repeat;
        background-position: bottom left 20%;
        background-size: 317px;
        @media screen and (max-width: 767px) {
          background-size: 230px;
        }

        .control {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          padding: var(--panel-padding, 30px);
          padding-bottom: 0;
        }
  
        .content {
          flex-grow: 1;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: var(--panel-padding, 35px);

          .logo-mobile {
            --logo-max-height: 92px;
            @media screen and (max-width: 767px) {
              --logo-max-height: 60px;
            }
            height: var(--logo-shrink-height, var(--logo-max-height, 50px));

            img {
              width: auto;
              max-width: initial;
              object-fit: contain;
              height: inherit;
              vertical-align: initial;
            }
          }

          .btn-group {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 60px;
            margin-bottom: 40px;
          }

          form {
            --max-width: 50%;
            width: 100%;
            height: 50px;
            max-width: var(--max-width, 250px);
            margin-top: 10px;
            margin-bottom: 10px;
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;

            input {
              --form-text-initial-color: #A3A3A3;
              width: 100%;
              height: 100%;
              border: none;
              border-radius: 30px;
              color: var(--form-text-initial-color, var(--color));
              background-color: rgb(245, 245, 245);
              font-size: var(--form-font-size, 16px);
              padding-left: 12px;
              padding-right: 40px;

              &:focus {
                outline: none;
              }
            }

            button {
              position: absolute;
              right: 0;
              cursor: pointer;
            }
          }

          .menu {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            width: 138px;
            margin: 40px auto 0;

            li {
              flex-basis: 50%;
              display: flex;
              flex-direction: column;
              align-items: center;

              a {
                --menu-item-padding: var(--items-vertical-spacing, 10px) 0;
                font-size: 20px;
                font-weight: 700;
                padding: var(--menu-item-padding, 0px);
              }
            }
          }
        }
      }

      button {
        border: none;
        background: transparent;
        width: 40px;
        cursor: pointer;
        padding: 6px 5px;
      }
    }
  }
}

.sticky-header.hidden {
  display: none;
}
