.main-slider {
  --theme-color: #F8C341; // TODO: theme color
  --normal-container-max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: var(--normal-container-max-width);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;

  .posts {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      background: white;
    }

    .swiper-button-next,
    .swiper-button-prev {
      background-color: transparent;
      color: var(--theme-color);
      border: none;
      cursor: pointer;
      position: absolute;
      top: 20%;
      --btn-edge: -50px;
    }

    .swiper-pagination-bullets {
      height: 62px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
      position: relative;

      .swiper-pagination-bullet {
        width: 13px;
        height: 13px;
        margin: 50px 10px 0;
      }

      .swiper-pagination-bullet-active {
        background-color: var(--theme-color);
      }
    }

    .post-body {
      width: 373px;
      max-width: 400px;
      margin-left: 22px;
      margin-right: 22px;
      display: flex;
      justify-content: center;
      flex-direction: column;

      img {
        height: auto;
        max-width: 100%;
        vertical-align: middle;
        border-radius: 20px;
      }

      .post-title {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 160%;
        letter-spacing: 0.08em;
        color: rgb(35, 35, 35);
        text-align: left;
      }
    }
  }
}
