.post-body {
  width: 100%;
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: transparent;
  border-radius: 20px;

  .hero-image-container {
    max-width: 100%;
    height: calc(100% / 16 * 9);
    aspect-ratio: 16/9;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      vertical-align: middle;
      overflow: hidden;
      border-radius: 20px;
      &.simple {
        border-radius: 20px 20px 0 0;
      }
    }
  }

  .card-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    @media screen and (max-width: 767px) {
      padding-bottom: 5px;
    }
    justify-content: space-between;
    background: white;

    &.simple {
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 0 0 20px 20px;
    }

    .card-top {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .card-category {
        color: var(--theme-color);
        text-align: left;
        margin: 0 0px 5px;
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0.05em;
      }

      .card-title {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 160%;
        letter-spacing: 0.08em;
        color: rgb(35, 35, 35);
        text-align: left;
        margin-bottom: 20px;
        min-height: 64px;
        @media screen and (max-width: 767px) {
          min-height: auto;
        }
      }

      .card-desc {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-align: left;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0.05em;
        color: rgb(35, 35, 35);
        margin-bottom: 20px;
      }
    }

    .card-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .subSubcategory {
        @media screen and (min-width: 992px) {
          font-size: 12px;
        }

        text-align: center;
        padding: 5px 12px;
        background: var(--theme-color);
        border-radius: 30px;
        color: rgb(255, 255, 255);
        font-weight: 400;
        font-size: 12px;
        line-height: 160%;
        letter-spacing: 0.05em;
        pointer-events: none;
      }

      .published-date {
        color: #A3A3A3;
        font-size: 12px;
      }
    }
  }
}
