  .post-slider {
    --theme-color: #F8C341; // TODO: theme color
    --normal-container-max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: var(--normal-container-max-width);

    .cards {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      position: relative;
      padding-left: 10px;
      padding-right: 10px;

      .post-body {
        max-width: 400px;
        margin-left: 22px;
        margin-right: 22px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        img {
          height: auto;
          max-width: 100%;
          vertical-align: middle;
          border-radius: 20px;
        }

        .post-category {
          color: var(--theme-color);
          text-align: left;
        }

        .post-title {
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 160%;
          letter-spacing: 0.08em;
          color: rgb(35, 35, 35);
          text-align: left;
        }

        .post-bottom {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .tag {
            @media screen and (min-width: 992px) {
              font-size: 14px;
            }
            text-align: center;
            padding: 3px 12px 5px;
            background: #F8C341; // TODO: apply post theme
            border-radius: 30px;
            color: rgb(255, 255, 255);
            font-weight: 400;
            font-size: 12px;
            line-height: 160%;
            letter-spacing: 0.05em;
            pointer-events: none;
          }

          .published-date {
            color: #A3A3A3;
          }
        }
      }

      .prev-btn {
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 145px;
      }

      .next-btn {
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 145px;
      }
    }

    .bullets {
      button {
        cursor: pointer;
        margin: 50px 10px 0;
        width: 13px;
        height: 13px;
        background-color: #eaeaea;
        border-radius: 13px;
        appearance: none;
        border: none;
      }

      button.active {
        background-color: var(--paletteColor6);
      }
    }
  }
