main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;

  .info {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 35px 0;
    margin: 0 auto 20px;
    background: #fff;
    gap: 5px;

    .avatar {
      width: 180px;
      height: 180px;
      border-radius: 80px;
      overflow: hidden;
      margin: 0 auto 6px;
      object-fit: cover;

      img {
        width: 180px;
        height: 180px;
        object-fit: cover;
      }
    }

    h1 {
      text-align: center;
      margin: 12px 0 35px;
      font-size: 22px;
      line-height: 160%;
      letter-spacing: .08em;
      color: #232323;
      font-weight: 700;
    }

    p {
      text-align: center;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      letter-spacing: .05em;
      color: #232323;
      line-height: 200%;
      white-space: pre-wrap;
    }
  }

  .post-list {
    --container-width: min(100%, var(--container-width-base));
    max-width: var(--normal-container-max-width);
    width: var(--container-width);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
